// index 样式

// 占位符  应用在产品列表的标题
%title {
  height: 115px;
  line-height: 115px;
  // 溢出隐藏
  overflow: hidden;
  h2 {
    float: left;
    font-size: 29px;
    font-weight: normal;
    span {
      margin-left: 35px;
      font-size: 16px;
      color: #999;
    }
  }
  a {
    // @extend 继承
    @extend %view_all;
  }
}

// 占位符  应用在产品列表的标题（ 查看全部 ）
%view_all {
  float: right;
  color: #999;
  &::after {
    content: "";
    display: inline-block;
    margin-top: -4px;
    margin-left: 15px;
    width: 7px;
    height: 13px;
    background-image: url(../image/sprites.png);
    background-position: 0 -110px;

    vertical-align: middle;
  }
}

// banner图
.banner {
  height: 500px;
  background-color: #f5f5f5;
  .wrapper {
    position: relative;
    height: 500px;
    background-color: pink;

    // 侧导航
    .aside {
      position: absolute;
      left: 0;
      top: 0;
      float: left;
      width: 250px;
      height: 500px;
      background-color: rgba($color: #000000, $alpha: 0.8);
      ul {
        width: 250px;
        float: left;
        li {
          height: 50px;
          color: #fff;
          a {
            position: relative;
            display: inline-block;
            padding-left: 35px;
            width: 250px;
            height: 50px;
            line-height: 50px;
            color: #fff;
            span {
              font-size: 14px;
              margin-left: 15px;
            }
            // a 最后的位置加箭头
            &::after {
              position: absolute;
              right: 20px;
              top: 19px;
              content: "";
              width: 6px;
              height: 11px;
              background-image: url(../image/sprites.png);
              background-position: -80px -110px;
            }
            &:hover {
              background-color: #27ba9b;
            }
          }
        }
      }
    }

    // 箭头
    .prev,
    .next {
      position: absolute;
      top: 228px;
      width: 45px;
      height: 45px;
      background-color: rgba($color: #000000, $alpha: 0.2);
      background-image: url(../image/sprites.png);
      border-radius: 50%;
    }

    .prev {
      left: 260px;
      background-position: 15px -60px;
    }

    .next {
      right: 10px;
      background-position: -23px -60px;
    }

    // 小圆点
    ol {
      position: absolute;
      left: 680px;
      bottom: 38px;
      height: 10px;
      li {
        float: left;
        margin-right: 24px;
        width: 10px;
        height: 10px;
        background-color: rgba($color: #ffffff, $alpha: 0.4);
        border-radius: 50%;
        cursor: pointer;
        &.current {
          background-color: #fff;
        }
      }
    }
  }
}

// 新鲜好物
.goods {
  // 头部
  .hd {
    // 调用 title
    @extend %title;
  }

  //   内容
  .bd {
    li {
      position: relative;
      float: left;
      margin-right: 8px;
      width: 304px;
      height: 405px;
      background-color: #f0f9f4;
      text-align: center;

      img {
        width: 304px;
      }

      h3 {
        margin-top: 20px;
        font-size: 20px;
        font-weight: normal;
      }

      div {
        margin-top: 10px;
        font-size: 17px;
        color: #9a2e1f;
        span {
          font-size: 23px;
        }
      }

      b {
        position: absolute;
        left: 17px;
        top: 18px;
        width: 28px;
        height: 50px;
        border: 1px solid #27ba9b;
        border-radius: 10%;

        font-size: 18px;
        color: #27ba9b;
        font-weight: normal;
        line-height: 24px;
      }
    }
    li:last-child {
      margin-right: 0;
    }
  }
}

// 人气推荐
.popular {
  // 头部
  .hd {
    // 调用 title
    @extend %title;
  }

  // 内容
  .bd {
    ul {
      text-align: center;
      li {
        float: left;
        margin-right: 8px;
        width: 304px;
        height: 405px;

        &:last-child {
          margin-right: 0;
        }

        img {
          width: 304px;
        }
        p {
          margin-top: 20px;
          font-size: 21px;
          color: #333;
        }
        span {
          display: inline-block;
          margin-top: 10px;
          font-size: 16px;
          color: #999;
        }
      }
    }
  }
}

// 热门品牌
.brand {
  //   height: 465px;
  background-color: #f5f5f5;
  .box {
    // 头部
    .hd {
      @extend %title;
      position: relative;
      .paging {
        // 居中
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0%, -50%);

        width: 52px;
        height: 20px;
        // background-color: pink;
        div {
          width: 20px;
          height: 20px;
          background-color: #e2e2e2;
          &:hover {
            background-color: #27ba9b;
          }
        }
        .left {
          float: left;
          background-image: url(../image/sprites.png);
          background-position: -86px -105px;
        }
        .right {
          float: right;
          background-image: url(../image/sprites.png);
          background-position: -73px -105px;
        }
      }
    }

    // 内容
    .bd {
      ul {
        li {
          float: left;
          padding-bottom: 45px;
          margin-right: 5px;
          &:last-child {
            margin-right: 0;
          }
          img {
            width: 244px;
          }
        }
      }
    }
  }
}

// 生鲜
.fresh {
  .hd {
    height: 95px;
    line-height: 95px;
    // background-color: pink;

    h2 {
      float: left;
      font-size: 29px;
      font-weight: normal;
    }

    .more {
      // @extend 继承
      @extend %view_all;
    }

    ul {
      float: right;
      margin-right: 58px;
      li {
        float: left;
        a {
          padding: 2px 7px;
          margin-left: 6px;
          &:hover {
            background-color: #27ba9b;
          }
        }
      }
    }
  }
  .bd {
    .left {
      float: left;
      img {
        width: 240px;
        height: 610px;
      }
      //   background-color: pink;
    }
    .right {
      float: right;
      padding-left: 8px;
      width: 1000px;
      height: 610px;
      //   background-color: skyblue;
      ul {
        li {
          position: relative;
          float: left;
          margin-right: 8px;
          //   padding: 8px 29px 0px;
          width: 242px;
          height: 304px;
          // 去除悬停造成的抖动影响
          border: 2px solid #fff;
          //   background-color: rgb(83, 248, 190);
          &:nth-child(4n) {
            margin-right: 0;
          }
          // n + 5 从第5个开始每个 li 下移 2px
          &:nth-child(n + 5) {
            margin-top: 2px;
          }
          img {
            width: 184px;
            margin-bottom: 12px;

            // 居中
            clear: both;
            display: block;
            margin: 8px auto 0;
            padding-bottom: 12px;
          }
          .text {
            margin-left: 29px;
            p {
              font-size: 16px;
              color: #333;
              line-height: 20px;
            }
            span {
              display: inline-block;
              margin-top: 10px;
              font-size: 17px;
              color: #9a2e1f;
              b {
                font-size: 22px;
                font-weight: normal;
              }
            }
          }
          &:hover {
            border: 2px solid #27ba9b;
          }

          // 控制盒子的显示
          &:hover .box {
            display: block;
          }

          // 找相似
          .box {
            position: absolute;
            top: 218px;
            width: 238px;
            height: 84px;
            background-color: #27ba9b;
            text-align: center;

            // 盒子隐藏
            display: none;

            span {
              display: inline-block;
              padding: 0 35px;
              margin-top: 19px;
              font-size: 18px;
              border-bottom: 2px solid #a9dbcc;
              a {
                color: #fff;
              }
            }
            b {
              display: inline-block;
              font-size: 13px;
              font-weight: normal;
              a {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
